$black00: #000;
$gray2c: #2c2c2c;
$green22: #22b573;
$whiteff: #fff;
$whitef0: #f0f0f0;

$a-hover: $green22;
$header-bg: $black00;
$header-color: $whiteff; 

$form-bg: $whitef0;
$form-borde: $gray2c;
$form-color: $black00; 
 
$footer-bg: $gray2c;
$footer-color: $whiteff;

$fte-titulos: 'Oswald', sans-serif;

$fte-parrafos: 'Arial', 'Helvetica', sans-serif;